<ion-tabs class="tabs-icon-text" [color]="'tabs'">
  <ion-tab title="Dashboard" tabIcon="md-home" [root]="tabDashboard" tabTitle="Home"></ion-tab>
  <ion-tab title="Starred" tabIcon="md-star" [root]="tabStarred" tabTitle="Starred"></ion-tab>
  <ion-tab title="Profile" tabIcon="md-contact" [root]="tabProfile" tabTitle="Profile"></ion-tab>
  <ion-tab title="Setting" tabIcon="md-settings" [root]="tabSetting" tabTitle="Setting"></ion-tab>
</ion-tabs>