<ion-content class="starred-bg">
    <ion-card *ngFor="let item of todolist | async" (click)="showDetail(item.$key)">
        <ion-card-header text-uppercase>{{item.subject}}</ion-card-header>
        <ion-card-content>
            <p>{{item.note}}</p>
            <p>{{item.dateAdded | dt: 'full'}}</p>
        </ion-card-content>
    </ion-card>

    <ion-fab right bottom>
        <button ion-fab color="secondary" (click)="createTodo()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>