

.dashboard-bg {
  ion-card {
    margin: 0;
    /* width: calc(100% - 24px); */
    width: 100%;
  }
  
  ion-list-header {
    background-color: rgba(7,16,120,1);
    background:  filter-gradient(#071078, #2559c2, horizontal);
    background: background-image(linear-gradient(left, rgba(7,16,120,1) 0%, rgba(37,89,194,1) 100%));
    color: #fff;
  }

  .card-title {
    position: absolute;
    top: 26%;
    left: 20px;
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 33%;
    left: 6%;
    color: #fff;
  }
}
  
.dashboard-bg {
  background-color: #fff;
  background-size: cover;
}

.button-create-todo {
  -webkit-box-shadow: 0px 0px 31px -7px rgba(199,195,199,0.4);
  -moz-box-shadow: 0px 0px 31px -7px rgba(199,195,199,0.4);
  box-shadow: 0px 0px 31px -7px rgba(199,195,199,0.4);
  border-radius: 30px;
}

.item-ios.item-block .item-inner {
  border-bottom: 0px;
}

.menu {
  color: #fff;  
}

.menu-mytask {
  background-color: #436195;
}

.menu-today {
  background-color: #00A3A8;
}

.menu-starred {
  background-color: #2FBD8D;
}

.menu-all {
  background-color: #ECCC77;
}

.menu-other {
  background-color: #F45A62;
}