<ion-content class="dashboard-bg">

    <ion-card>
        <img src="assets/images/dashboard.png" />
        <div class="card-title">Hello,</div>
        <div class="card-subtitle">{{ user.displayName }}</div>
    </ion-card>

    <ion-list-header> TODO </ion-list-header>
    <ion-item class="menu menu-mytask" (click)="goto('mytask')">
        <ion-icon name='md-alarm' item-start></ion-icon>
        My task
        <ion-badge item-end>10</ion-badge>
    </ion-item>

    <ion-item class="menu menu-today" (click)="goto('today')">
        <ion-icon name='md-time' item-start></ion-icon>
        Today
        <ion-badge item-end>260k</ion-badge>
    </ion-item>

    <ion-item class="menu menu-starred" (click)="goto('starred')">
        <ion-icon name='md-star' item-start></ion-icon>
        Starred
        <ion-badge item-end>10</ion-badge>
    </ion-item>

    <ion-item class="menu menu-all" (click)="goto('all')">
        <ion-icon name='md-desktop' item-start></ion-icon>
        All
        <ion-badge item-end>10</ion-badge>
    </ion-item>
    <ion-item class="menu menu-other" (click)="goto('ideas')">
        <ion-icon name='md-bulb' item-start></ion-icon>
        Ideas
        <ion-badge item-end>10</ion-badge>
    </ion-item>
    <ion-item></ion-item>

    <ion-fab right bottom class="button-create-todo">
        <button ion-fab color="create-button" (click)="createTodo()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>