<ion-header>
    <ion-navbar>
        <ion-title>{{ pageTitle }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="list-bg {{bgColor}}">

    <ion-card *ngFor="let item of lists" (click)="showDetail(item.id)">
        <ion-card-header>{{item.subject}}
            <ion-icon name="alarm"></ion-icon>
        </ion-card-header>
        <ion-card-content>{{item.note}}</ion-card-content>
        <ion-row>
            <ion-col>
                <!--<ion-icon class="icon-add" name="add-circle"></ion-icon>-->
                <span class="assigned-users"><img src="assets/profile/1.jpg" /></span>
                <span class="assigned-users"><img src="assets/profile/2.jpg" /></span>
                <span class="assigned-users"><img src="assets/profile/3.jpg" /></span>
            </ion-col>          
        </ion-row>        
    </ion-card>

</ion-content>