
.list-bg {
    ion-card ion-card-header {
        color: #F6842B;
    }

    ion-card ion-card-header ion-icon {
        position: absolute;
        right: 25px;
    }

    ion-col ion-icon.icon-add {
        font-size: 2.2em;
        padding: 0 0 5px 10px;
    }

    ion-col span.assigned-users img {
        width: 40px;
        overflow: hidden;
        border-radius: 25px;
        float: left;
        padding: 1px;
        margin: 0;
        border: 1px solid #f3eaea;
    }
}

.list-bg.mytask {
    background-color: color($colors, mytask);
}

.list-bg.today {
    background-color: color($colors, today);
}

.list-bg.all {
    background-color: color($colors, all);
}

.list-bg.ideas {
    background-color: color($colors, ideas);
}