<ion-header>
    <ion-navbar>
        <ion-title>Detail</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="create-bg">

    <ion-card class="dashboard-card">
        <img src="assets/images/card-saopaolo.png" />
        <div class="card-title">{{detail.subject}}</div>
        <div class="card-subtitle">{{detail.dateAdded | dt: 'full'}}</div>        
    </ion-card>

    <ion-card-content>
        <h2 class="slide-title" [innerHTML]="detail.subject"></h2>
        <p [innerHTML]="detail.note"></p>
        <div *ngIf="detail.remark != ''">Remark</div>
        <p>{{detail.remark}}</p>
    </ion-card-content>

    <ion-row>
        <ion-col>            
            <span class="assigned-users"><img src="assets/profile/1.jpg" /></span>
            <span class="assigned-users"><img src="assets/profile/2.jpg" /></span>
            <span class="assigned-users"><img src="assets/profile/3.jpg" /></span>
        </ion-col>
    </ion-row>

    <div padding>
        <button ion-button bottom color="primary" (click)="removeTodo(detail.id)" block>DELETE</button>
    </div>

</ion-content>