
.create-bg {

  ion-card {
    margin: 0;
    width: 100%;
  }

  ion-item {
    border-bottom: 0;
    background-color: #46529D;
    background-size: cover;
    color: #fff;
    font-size: 14px;
  }

  ion-row ion-col {
    padding: 0 0 0 15px;
  }

  ion-row ion-col span.assigned-users img {
      width: 40px;
      overflow: hidden;
      border-radius: 25px;
      float: left;
      padding: 1px;
      margin: 2px;
      border: 1px solid #f3eaea;
  }

  .card-title {
    position: absolute;
    top: 26%;
    left: 20px;
    font-size: 2.0em;
    // width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 33%;
    left: 6%;
    // width: 100%;
    color: #fff;
  }

}

.create-bg  {
  background-color: #46529D;
  background-size: cover;
  color: #fff;
  font-size: 14px;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0;
}
.create-btn {
    background-color: #2EBAEE;
}