<ion-header>
    <ion-toolbar color="create-background">
        <ion-title>Create</ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="create-bg">
    <form name="form" (submit)="createTodo()" [formGroup]="form">
    <ion-list>
        <ion-item class="background">
            <ion-label floating>Add a subject</ion-label>
            <ion-input formControlName="subject" type="text" value=""></ion-input>
        </ion-item>

        <ion-item class="background">
            <ion-label floating>Add a note</ion-label>
            <ion-textarea formControlName="note" placeholder=""></ion-textarea>
        </ion-item>        

        <ion-item class="background">
            <ion-label>Date</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY" formControlName="dateadded" [(ngModel)]="event.month"></ion-datetime>
        </ion-item>

        <ion-item class="background">       
            <img src="assets/images/upload.png" />
        </ion-item>

        <ion-item class="background">
            <ion-label floating>Remark</ion-label>
            <ion-input formControlName="remark" type="text" value=""></ion-input>
        </ion-item>

        <ion-item class="background">
            <ion-label>Star</ion-label>
            <ion-toggle value="true" formControlName="starred" checked="false"></ion-toggle>
        </ion-item>
    </ion-list>

    <div padding>
        <button ion-button bottom color="primary" type="submit" block>SAVE</button>
    </div>
    </form>
</ion-content>