<ion-content class="profile-bg">
    <ion-card>
        <img src="assets/images/profile.png" />
        <div class="card-title">Hello,</div>
        <div class="card-subtitle">{{user.displayName}}</div>
        <div class="avatar">
            <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/14191909_10205294175993957_4337700786670074873_n.jpg?oh=bf6a36e19ae1a44361b4fbeec23d0553&amp;oe=597A04CF">
        </div>
    </ion-card>

    <ion-grid>
        <ion-row>
            <ion-col class="shadow">
                <div class="header">firstname</div>
                <div class="display">{{firstname}}</div>
            </ion-col>
            <ion-col>
                <div class="header">lastname</div>
                <div class="display">{{lastname}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="header">gender</div>
                <div class="display">Male</div>
            </ion-col>
            <ion-col>
                <div class="header">birthdate</div>
                <div class="display">01/01/1977</div>
            </ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>