.profile-bg {
  ion-card {
    margin: 0;
    /* width: calc(100% - 24px); */
    width: 100%;
  }
  
  ion-list-header {
    background-color: rgba(7,16,120,1);
    background:  filter-gradient(#071078, #2559c2, horizontal);
    background: background-image(linear-gradient(left, rgba(7,16,120,1) 0%, rgba(37,89,194,1) 100%));
    color: #fff;
  }

  .avatar {
    position: absolute;
    top: 213px;
    right: 22px;
    width: 70px;
    /* height: 60px; */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 10px 19px -11px rgba(1, 1, 1, 0.4);
  }

  .card-title {
    position: absolute;
    top: 26%;
    left: 20px;
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 33%;
    left: 6%;
    color: #fff;
  }

  ion-grid ion-col {
      padding: 20px;
  }

  ion-grid ion-col .header {
    font-size: 12px;
    color: #ccc;
  }

  ion-grid ion-col .display {
    font-size: 18px;
    color: #000;
  }

  ion-grid ion-col.shadow {
      box-shadow: 0px 10px 19px -11px rgba(1, 1, 1, 0.4);
  }
}

.profile-bg {
  background-color: #fff;
  background-size: cover;
}