.facebook-sign-in {
  border-radius: 4px;
  position: absolute;
  bottom: 5%;    
  left: 19px;
  width: 90%;
}

.home-bg {
  background: url("../assets/images/login-bg.jpg") no-repeat center;
  background-size:cover;
}