// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  mytask:     #436195,
  today:      #00A3A8,
  all:        #ECCC77,
  ideas:      #F45A62,
  create-background: #46529D
);

$toolbar-md-background: color($colors, primary);

$cordova-ios-statusbar-padding: 20px;
$cordova-md-statusbar-padding: 29px;

// $create-background: #46529D;
$create-button: #2EBAEE;
$dashboard-bg: "../../assets/images/dashboard-bg.jpg";
$link-color: #32db64;
$tabs-tab-color-active: color($colors, primary);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
.ios {
  .statusbar-img-ios {
    display: block !important;
    position: absolute;
    background-color: transparent;
    padding: 5px 0;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 999;
  }

  .tabs-icon-text tabbar {
    .tab-button[aria-selected=true],
    .tab-button:hover:not(.disable-hover) {
      color: #7e60ff;
    }
  }

}



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
.md {
  .statusbar-img-md {
    display: block !important;
    position: absolute;
    background-color: transparent;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 999;
  }

  .tabs-icon-text tabbar {
    .tab-button[aria-selected=true],
    .tab-button:hover:not(.disable-hover) {
      color: #7e60ff;
    }
  }

}



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
