<ion-header>
  <ion-navbar>
    <ion-title>
      Setting
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            App Setting
        </ion-list-header>

        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select [(ngModel)]="gender" interface="action-sheet">
                <ion-option value="female">Female</ion-option>
                <ion-option value="male">Male</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Notification</ion-label>
            <ion-toggle value="true" checked="false"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Notifications</ion-label>
            <ion-select [(ngModel)]="notifications" interface="action-sheet">
                <ion-option value="enable">Enable</ion-option>
                <ion-option value="mute">Mute</ion-option>
                <ion-option value="mute_week">Mute for a week</ion-option>
                <ion-option value="mute_year" (ionSelect)="notificationSelect($event)">Mute for a year</ion-option>
            </ion-select>
        </ion-item>

    </ion-list>
</ion-content>